.section {
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1) {
    color: #e0ffff;
}
section:nth-child(2) {
    color: #42455a;
    /* background: #e0ffff; */
}
section:nth-child(3) {
    color: #e0ffff;
}
section:nth-child(4) {
    color: #42455a;
    background: #e0ffff;
}
section .container {
    margin: auto;
    width: 75%;
    align-self: center;
    margin-bottom: 50px;
    border-radius: 25px;
    background: #bbb;
}
/* section h1 {
    font-size: 3rem;
    margin: 20px;
} */
section h2 {
    font-size: 40px;
    text-align: center;
    /* text-transform: uppercase; */
}
section .text-container {
    display: flex;
    /* background-color: rgba(153, 153, 153, 0.333); */
    /* box-shadow: 0 10px 100px rgb (0 0 0 / 10%); */
    /* border-radius: 25px; */
}

section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    width: 65%;

    font-weight: 600;
    margin-bottom: 1rem;

    letter-spacing: 1px;
    position: relative;
    color: rgb(71, 71, 71);

    font-size: medium;
    max-width: 60rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin: auto;
}

section .text-container .text-box-image {
    padding: 20px;
    width: 35%;
}

section .text-container .text-box h3 {
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;

    letter-spacing: 1px;
    position: relative;
}

@media (max-width: 1000px) {
    section .text-container {
        flex-direction: column;
    }
    section .text-container .text-box-image {
        padding: 20px;
        width: 85%;
        align-self: center;
    }
    section .text-container .text-box h3 {
        font-size: 110%;
    }
    section .text-container .text-box {
        width: 100%;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* Slideshow Images */
.service__slideshow-container {
    position: relative;
    margin: auto;
    align-items: center;
}
